.Xauthority
.Xresources
.bash_history
.cache
.cargo
.compose-cache
.config
git
i3
pulse
.esd_auth
.local
.mozilla
.nix-channels
.nix-defexpr
.nix-profile
.rustup
.xsession-errors
.xsession-errors.old
.zcompdump
.zsh_history
.zshrc
.ssh
local

