.Xauthority
.Xresources
.bash_history
.cache
.compose-cache
git
i3
pulse
.esd_auth
.local
.mozilla
.nix-channels
.nix-defexpr
.nix-profile
.xsession-errors
.xsession-errors.old
.zcompdump
.zsh_history
.zshrc
